<main>
  <div>
    <h1>紹介動画、画像を追加する</h1>
    <%= form_with model: @post, url: posts_path do |f| %>
    <div class="field">
      <%= f.label :"動画" %>
      <%= f.file_field :video, accept: "video/*" %><br>
    </div>
    <div class="field">
      <%= f.label :"画像" %>
      <%= f.file_field :image, accept: "image/*" %><br>
    </div>
    <div class="field">
      <%= f.label :"タイトル" %>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :"説明" %>
      <%= f.text_area :about %>
    </div>
    <div class="field">
      <%= f.submit "投稿する" %>
    </div>
    <% end %>
  </div>
  
</main>
