<main>
  <div class="title-area">
    <h1 class="contents-title">紹介動画、画像を追加する</h1>
  </div>
  <div class="container">
    <div class="row d-flex mx-auto">
      <%= form_with model: @post, url: posts_path do |f| %>
        <div class="field">
        <h4 class="label">動画</h4>
        <%= f.file_field :video, accept: "video/*" %>
        <p class="caution">MP4形式の動画（1分程度）のみアップロード可能<br>
          MP4以外の形式の場合、<a href="https://www.freemake.com/jp/free_video_converter/">こちらのサイト</a>にて変換をお願い致します。
        </p>
      </div>
      
      <div class="field">
        <h4 class="label">画像</h4>
        <%= f.file_field :image, accept: "image/*" %><br>
      </div>
      <div class="field">
        <h4 class="label">タイトル</h4>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <h4 class="label">説明</h4>
        <%= f.text_area :about, size: "50" %>
      </div>
      <div class="field">
        <%= f.submit "投稿する" %>
      </div>
      <% end %>
    </div>
  </div>
</main>



      
      
      