<main>
  <div class="post-item">
    <% if @post.image.attached? %>
      <%= image_tag @post.image, class: "post-img" %>
    <% else %>
      <%= video_tag rails_blob_path(@post.video), controls: true, size: "1000x500" %>
    <% end %>
  <div>
    <div>
      <h3><%= @post.title %></h3>
      <p><%= @post.about %></p>
      <% if @player == current_player %>
        <%= link_to "投稿を削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      <% end %>
      <div id="favorite_btn_<%= @post.id %>">
        <%= render "public/posts/favorite", post: @post %>
      </div>
      <p>コメント件数：<%= @post.post_comments.count %></p>
      <div class="comments-area">
    <% @post_comments.each do |post_comment| %>
      <div class="comment-area">
        <%= post_comment.player.first_name %><%= post_comment.player.last_name %>
        <%= post_comment.comment %><br>
        <%= post_comment.created_at.strftime('%Y/%m/%d') %>
        <% if post_comment.player == current_player %>
          <%= link_to "コメントを削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
        <% end %>
      </div>
    <% end %>
    <%= paginate @post_comments %>
    </div>
    

    <% if player_signed_in? %>
      <div>
        <%= form_with model: [@post, @post_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', size: "35x5", placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    <% end %>
    <%= link_to "戻る", :back, class: "link" %>
    </div>
  </div>
</main>