<main>
  <h1>マイページ編集</h1>
  <%= form_with model: @player, url: player_path(@player.id), method: :patch do |f| %>
  <div class="field">
    <%= f.label :"アイコン画像" %>
    <%= f.file_field :image, accept: "image/*" %><br>
    <p>(200x200 サイズ)</p>
  </div>
  
  <div class="field">
    <%= f.label :"姓" %>
    <%= f.text_field :first_name, autofocus: true %>
    <%= f.label :"名" %>
    <%= f.text_field :last_name %>
  </div>
  
  <div class="field">
    <%= f.label :"姓(かな)" %>
    <%= f.text_field :first_name_kana, autofocus: true %>
    <%= f.label :"名(かな)" %>
    <%= f.text_field :last_name_kana %>
  </div>

  <div class="field">
    <%= f.label :"メールアドレス" %>
    <%= f.email_field :email, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= f.label :"活動中のスポーツ" %>
    <%= f.collection_select :sport_id, Sport.all, :id, :sport_name, include_blank: "選択して下さい" %>
  </div>
  
  <div class="field">
    <%= f.label :"活動地域" %>
    <%= f.text_field :area %>
  </div>
  
  <div class="field">
    <%= f.label :"活動チーム or SNSのURL" %>
    <%= f.text_field :team_url %>
  </div>
  
  <div class="field">
    <%= f.label :"自己紹介" %>
    <%= f.text_area :introduce %>
  </div>
    
    
    <%= f.submit "変更を保存" %>
  <% end %>  
</main>