<main>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="mb-4">
          <% if @player.image.attached? %>
            <%= image_tag @player.image, size: "200x200", class: "icon d-flex mx-auto" %>
          <% else %>
            <%= image_tag "no_image.jpg", size: "200x200", class: "icon d-flex mx-auto" %>
          <% end %>
        </div>
          <% if @player == current_player %>
            <div class="links">
              <p class="d-flex mx-auto"><%= link_to "チェック一覧", player_check_players_path(current_player), class: "link" %></p>
              <p class="d-flex mx-auto"><%= link_to"いいねした投稿",favorites_player_path(@player), class: "link" %></p>
              <p class="d-flex mx-auto"><%= link_to "プロフィールを編集する", edit_player_path(current_player.id), class: "link" %></p>
            </div>
          <% else %>
            <div class="links">
              <% if player_signed_in? %>
                <% if current_player.following?(@player) %>
                  <%= link_to "チェックを外す", player_relationships_path(@player.id), class: "link d-flex mx-auto", method: :delete %>
                <% else %>
                  <%= link_to "チェックする", player_relationships_path(@player.id), class: "link d-flex mx-auto", method: :post %>
                <% end %>
              <% else %>
              <% end %>
            </div>
          <% end %>
      </div>
      <div class="col-md-9">
        <table class="table scroll-table">
          <tr class="mb-3">
            <td><h3>名前</h3></td>
            <td class="text-center"><h3><%= @player.first_name %> <%= @player.last_name %></h3></td>
          </tr>
          <tr class="mb-3">
            <td><h3>活動スポーツ</h3></td>
            <td class="text-center">
              <h3>
                <% if @player.sport.blank? %>
                <% else %>
                <%= @player.sport.sport_name %>
                <% end %>
              </h3>
            </td>
          </tr>
          <tr class="mb-3">
            <td><h3>活動地域</h3></td>
            <td class="text-center"><h3><%= @player.area %></h3></td>
          </tr>
          <tr class="mb-3">
            <td><h3>チーム名</h3></td>
            <td class="text-center"><h3><%= @player.team_name %></h3></td>
          </tr>
          <tr class="mb-3">
            <td><h3>チーム or SNSのURL</h3></td>
            <td><p><%= text_url_to_link(h(@player.team_url)).html_safe %></p></td>
          </tr>
      </table>
      </div>
      <div class="mb-5 mt-5 border-bottom">
        <h2 class="mb-4">自己紹介</h2>
        <p><%= @player.introduce %></p>
      </div>
    </div>
  </div>
<% if @player == current_player %>
  <div>
    <%= link_to "＋", new_post_path, class: "new-post-btn" %>
  </div>
<% end %>
  <div class="post-items">
    <% @posts.each do |post| %>
    <%= link_to post_path(post.id), class: "content-link" do %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <% if post.image.attached? %>
            <%= image_tag post.image, class: "item" %>
          <% else %>
            <%= video_tag rails_blob_path(post.video), controls: true, size: "250x174", class: "item" %>
            <%#= video_tag(rails_blob_path(post.video), autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
          <% end %>
            <strong><p class="card-text"><%= post.title %></p></strong>
            <p class="card-text"><%= post.about %></p>
        </div>
      </div>
      <% end %>
    <% end %>
</div>
<div class="pagenation">
  <%= paginate @posts %>
</div>
<%= link_to "戻る", :back, class: "link" %>
</main>