<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="mb-4">
          <% if @player.image.attached? %>
            <%= image_tag @player.image, size: "200x200", class: "icon" %>
          <% else %>
            <%= image_tag "no_image", size: "200x200", class: "icon" %>
          <% end %>
        </div>
          <% if @player == current_player %>
            <div>
              <p><%= link_to "プロフィールを編集する", edit_player_path(current_player.id), class: "text-center" %></p>
            </div>
          <% end %>
      </div>
      <div class="col-lg-9">
        <table class="table table-condensed">
          <tr class="mb-3">
            <td><h3>名前</h3></td>
            <td class="text-center"><h3><%= @player.first_name %> <%= @player.last_name %></h3></td>
          </tr>
          <tr class="mb-3">
            <td><h3>活動スポーツ</h3></td>
            <td class="text-center"><h3><%= @player.sport.sport_name %></h3></td>
          </tr>
          <tr class="mb-3">
            <td><h3>活動地域</h3></td>
            <td class="text-center"><h3><%= @player.area %></h3></td>
          </tr>
          <tr class="mb-3">
            <td><h3>チーム名</h3></td>
            <td class="text-center"><h3><%= @player.team_name %></h3></td>
          </tr>
          <tr class="mb-3">
            <td><h3>チーム or SNSのURL</h3></td>
            <td><p><%= text_url_to_link(h(@player.team_url)).html_safe %></p></td>
          </tr>
      </table>
      </div>
      <div class="mb-5 border-bottom">
        <h2 class="mb-4">自己紹介</h2>
        <p><%= @player.introduce %></p>
      </div>
    </div>
  </div>
<% if @player == current_player %>
  <div>
    <%= link_to "＋", new_post_path, class: "new-post-btn" %>
  </div>
<% end %>
  <div class="post-items">
    <% @posts.each do |post| %>
    <%= link_to post_path(post.id), class: "content-link" do %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <% if post.image.attached? %>
            <%= image_tag post.image, size: "250x180", class: "item" %>
          <% else %>
            <%= video_tag rails_blob_path(post.video), controls: true, size: "250x174", class: "item" %>
            <%#= video_tag(rails_blob_path(post.video), autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
          <% end %>
            <strong><p class="card-text"><%= post.title %></p></strong>
            <p class="card-text"><%= post.about %>
        </div>
      </div>
      <% end %>
    <% end %>
</div>
<div class="pagenation">
  <%= paginate @posts %>
</div>
</main>