<main>
  <div class="title-area">
    <h1 class="contents-title">登録中のスポーツ一覧</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4 mt-5 mx-auto">
        <%= form_with model: @sports, url: admin_sports_path, method: :post do |f| %>
          <%= f.label :"スポーツ名" %>
          <%= f.text_field :sport_name %>
          <%= f.submit "登録する" %>
        <% end %>
      <div>
        <table>
          <thead>
            <th>スポーツ名</th>
          </thead>
          <tbody>
          <% @sports.each do |sport| %>
            <tr>
              <td><%= sport.sport_name %></td>
              <td><%= link_to "削除", admin_sport_path(sport.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        </div>
        <div class="mt-5"><%= link_to "会員一覧へ", admin_players_path, class: "link" %></div>
      </div>  
    </div>
  </div>
</main>