<main>
  
  <div class="container">
    <div class="row">
      <h1 class="mr-4">Player一覧  ”<%= @sport.sport_name %>”</h1>
      <div class="col-lg-10 mt-5 mx-auto">
        <table class="table">
          <thead>
            <th></th>
            <th>名前</th>
            <th>活動地域</th>
          </thead>
          <tbody>
            <% @sport.players.each do |player| %>
            <% unless player.is_deleted %>
            <tr>
              <td>
                <% if player.image.attached? %>
                  <%= image_tag player.image, size: "70x70", class: "icon" %>
                <% else %>
                  <%= image_tag "no_image", size: "70x70", class: "icon" %>
                <% end %>
              </td>
              <td>
                <%= link_to player_path(player.id) do %>
                  <%= player.first_name %><%= player.last_name %>
                <% end %>
              </td>
              <td><%= player.area %></td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>


    
      
     
  