<main>
  <div class="title-area">
    <h1 class="contents-title">Player一覧  ”<%= @sport.sport_name %>”</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mt-5 mx-auto">
        <table class="table">
          <thead>
            <th></th>
            <th><h4>名前</h4></th>
            <th><h4>活動地域</h4></th>
          </thead>
          <tbody>
            <% @sport.players.each do |player| %>
              <% unless player.is_deleted %>
              <tr>
                <td>
                  <% if player.image.attached? %>
                    <%= image_tag player.image, size: "70x70", class: "icon" %>
                  <% else %>
                    <%= image_tag "no_image.jpg", size: "70x70", class: "icon" %>
                  <% end %>
                </td>
                <td>
                  <%= link_to player_path(player.id) do %>
                    <h4><%= player.first_name %><%= player.last_name %></h4>
                  <% end %>
                </td>
                <td><h4><%= player.area %></h4></td>
              </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
        <div class="pagenation">
        <%= paginate @players %>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "戻る", :back, class: "link" %>
</main>


    
      
     
  