<!DOCTYPE html>
<html>
  <head>
    <title>Players</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  </head>

  <body>
    <header class="d-flex align-items-center">
      <div class="container">
      <div class="row">
          <div class="col-1">
            <%= link_to '/', class: 'navbar-brand header-link d-flex text-align-center' do %>
              <h1 class="site-logo">Players</h1>
            <% end %>
          </div>
          <div class="col-4 d-flex align-items-center mx-auto">
            <%= render 'public/shared/search' %>
          </div>
          <div id="sp-menu">
            <h2 class="menu">MENU</h2>
            <ul>
              <% if player_signed_in? %>
                <li><%= link_to "ログアウト", destroy_player_session_path, method: :delete, class: "header-link" %></li>
                <li><%= link_to "マイページ", player_path(current_player.id), class: "header-link" %></li>
                <li><%= link_to "TOPに戻る", top_path %></li>
                <li><%= link_to "About", about_path, class: "header-link" %></li>
              <% else %>
                <li><%= link_to "新規登録", new_player_registration_path, class: "header-link" %></li>
                <li><%= link_to "ログイン", new_player_session_path, class: "header-link" %></li>
                <li><%= link_to 'ゲストログイン（閲覧用）', guest_log_in_path, method: :post %></li>
                <li><%= link_to "TOPに戻る", top_path %></li>
                <li><%= link_to "About", about_path, class: "header-link" %></li>
              <% end %>
            </ul>
          </div>

          <div class="col-1 hm-icon d-flex align-items-center">
            <a class="menu-trigger" href="#">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
      </div>
      </div>
    </header>

    <%= yield %>
    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <h2 class="text-center mt-2 site-logo">Players</h2>
            <p class="text-center mt-2">©️players All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
